@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: #d6ebff;
    font-family: "Space Grotesk", sans-serif;
    color: #141b21;
    font-size: 13px;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    color: #548ec4;
    font-weight: 800;
}

.navbar {
    align-items: right;
    display: right;
    text-align: left;
    width: 50%
    
}